.footer {
	padding: var(--offset);
}

.footer__text {
	color: rgb(var(--white));
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	word-wrap: break-word;
	line-height: 1.5;
	margin: 0;
}

@media (--extra-small-screen) {
	.footer__text {
		font-size: 0.9rem;
		font-weight: 600;
	}
}
