:root {
	--imageGridGap: 2px;
}

.image_grid {
	/*Create grid 3x3 */
	display: grid;
	grid-template-columns: repeat(3, minmax(30%, 1fr));
	grid-gap: var(--imageGridGap);
}

.image_grid__item {
	position: relative;
	box-sizing: border-box;
}

.image_grid__item::before {
	content: '';
	display: block;
	padding-top: 100%;
}

.image_grid__item img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	object-fit: cover;
	object-position: center;
}
