.why_us {
	color: rgb(var(--white));

	display: grid;
	grid-template-rows: min-content 1fr;
	gap: var(--offsetTwice);
}

.why_us__content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--offsetTwice);
}

@media (--small-screen) {
	.why_us__content {
		grid-template-columns: 1fr;
		gap: var(--offset);
	}
}