:root{
	--white: 255, 255, 255;
	--black: 0, 0, 0;
	--gray: 157, 144, 139;
	--orange: 255, 87, 34;

	--veriPeri: 102, 103, 171;

	--paleYellow :255, 255, 247;
	--blue: 25, 76, 167;
	--pink: 183, 134, 157;

	--alpha10: 0.1;
	--alpha20: 0.2;
	--alpha30: 0.3;
	--alpha40: 0.4;
	--alpha60: 0.6;
}